if status is-interactive
    # Commands to run in interactive sessions can go here
end

zoxide init fish | source
fzf --fish | source

alias lg="lazygit"
alias ll="exa -alh"

# NEOVIM
alias v='nvim'
alias vi='nvim'
alias vim='nvim'

load_nvm > /dev/stderr

{{ if eq .chezmoi.os "darwin" -}}

eval "$(/opt/homebrew/bin/brew shellenv)"
export SUDOEDIT='/opt/homebrew/bin/nvim'
export EDITOR='/opt/homebrew/bin/nvim'

{{ else if eq .chezmoi.os "linux" -}}

export SUDOEDIT='/usr/bin/nvim'
export EDITOR='/usr/bin/nvim'

export SSL_CERT_DIR=$HOME/.aspnet/dev-certs/trust:/usr/lib/ssl/certs

alias cb="xsel --clipboard"


{{ end -}}
